.error {
  font-size: 4em;
  font-style: italic;
  text-align: center;
}

.restaurantTitle {
  font-size: 2em;
  padding: 0.5em;
  color: white;
  background-color: #402f80;
  text-align: center;
  font-family: 'Sarabun', sans-serif;
}

.restaurantIMG {
  object-fit: cover;
  height: 15em; 
  width: 20em;
  margin: auto;
}

.restaurantContainer {
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  border-width: 0.5px;
  border-color: rgb(190, 176, 176);
  border-style: solid; 
  box-shadow: 5px 4px 6px 0px rgba(184,177,184,1); 
}

.openText {
  color: rgb(10, 83, 10);
  font-family: Impact;
  font-size: 1em;
}

.closeText {
  color: rgb(139, 30, 30);
  font-family: Impact;
  font-size: 1em;
}

.list_mapToggle {
  background-color: rgb(44, 44, 44);
  height: 2em;
  display: flex;
  justify-content: center;
}

.lmbutton {
  color: white;
  margin-right: 0.5em;
}

.lbutton {
  color: white;
  margin-left: 1em;
}

.list-group {
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
}

p {
  margin: 0;
  padding: 0;
}

.category {
  margin: 1em;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif ;
  font-size: 1.2em;
  color: black;
}

.resultsTitle {
  color: whitesmoke;
  background-color: #402f80;
  text-align: center;
  font-family: "Raleway";
  padding: 0.2em;
  margin-bottom: 0em;
}

.grid {
  padding: 1em;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto;
  grid-row-gap: 5px;
  grid-column-gap: 5px;
}

#popup, .MuiPaper-root {
  display: none;
}

#cave {
  margin-bottom: 1em;
  box-shadow: 3px 3px 5px 0px rgba(184,177,184,0.75);
  background-color: #f16262;
  color: azure;
  width: 5em;
  font-size: 1.3em;
  padding: 0.3em;
}

.cave {
  display: flex;
  justify-content: center;
}

#cave:hover,
#cave:focus,
#popup:hover,
#popup:focus {
  background: #830b0b;
}

@media (min-width: 768px) {
  .restaurantTitle{
    font-size: 2.8vw;
  }

  .grid {
    grid-template-columns: auto auto;
    grid-template-rows: auto;
  }

  .MuiPaper-root {
    display: block;
  }

  #popup {
    display: block;
    margin: auto;
    margin-bottom: 1em;
    box-shadow: 3px 3px 5px 0px rgba(184,177,184,0.75);
    background-color: #f16262;
    color: azure;
    width: 5em;
    font-size: 2.4vw;
    padding: 0.3em;
  }

  #cave, .collapse {
    display: none;
  }

}

@media (min-width: 992px) {
  .restaurantTitle{
    font-size: 2.4vw;
  }

  #popup {
    font-size: 2vw;
  }
}

@media (min-width: 1200px) {
  .restaurantTitle{
    font-size: 1.9vw;
  }
  .grid {
    grid-template-columns: auto auto auto;
    grid-template-rows: auto;
  }
  #popup {
    font-size: 1.5em;
  }
}