.question {
  color: whitesmoke;
  /* background-color: silver; */
  background: rgb(44, 44, 44);
  font-size: 2em;
  text-align: center;
  padding-top: 2%;
  padding-bottom: 2%;
  margin: 1%;
  font-family: "Raleway";
}
.top {
  border-width: 0.5px;
  border-right: 0;
  border-left: 0;
  border-color: rgb(190, 176, 176);
  border-style: solid;
  margin-top: 1em;
  padding: 1em 1.5em 0.5em 1.5em;
}

.quizTitle {
  color: whitesmoke;
  background-color: maroon;
  text-align: center;
  font-family: "Raleway";
  padding: 0.2em;
}

.select {
  padding: 1em;
  border: none;
  font-family: 'Ubuntu', sans-serif;
  font-size: 1.2em;
}

.select:focus {
  outline: none;
}

.middle {
  display: flex;
  justify-content: center;
}