.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.answerButtonNormal {
  object-fit: cover;
  position: relative;
  width: 4em;
  height: 4em;
  max-height: 4em;
  max-width: 4em;
  margin-left: 8%;
  margin-right: 8%;
  float: left;
}

.answerButtonGrayed {
  object-fit: cover;
  position: relative;
  width: 4em;
  height: 4em;
  max-height: 4em;
  max-width: 4em;
  margin-left: 8%;
  margin-right: 8%;
  float: left;
  opacity: 0.3;
}

.buttonGroup {
  display: block;
  position: absolute;
  width: 100%;
  min-width: 100% !important;
  margin-left: 1em;
  margin-right: 1em;
  min-height: auto;
  max-height: 5em;
  margin-bottom: 10em;
}

.answerText {
  font-size: 6em;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  color: whitesmoke;
  background-color: maroon;
  position: absolute;
  text-align: center;
  top: 500%;
  left: 500%;
  transform: translate(-50%, -50%);
}
.homeTitle{

}
.title {
  text-align: center;
  color: whitesmoke;
  font-size: 10em;
  font-family: fantasy;
  background-color: maroon;
}
.question {
  text-align: center;
  font-size: 8em;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}
