.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.answerButtonNormal {
  object-fit: cover;
  position: relative;
  width: 4em;
  height: 4em;
  max-height: 4em;
  max-width: 4em;
  margin-left: 8%;
  margin-right: 8%;
  float: left;
}

.answerButtonGrayed {
  object-fit: cover;
  position: relative;
  width: 4em;
  height: 4em;
  max-height: 4em;
  max-width: 4em;
  margin-left: 8%;
  margin-right: 8%;
  float: left;
  opacity: 0.3;
}

.buttonGroup {
  display: block;
  position: absolute;
  width: 100%;
  min-width: 100% !important;
  margin-left: 1em;
  margin-right: 1em;
  min-height: auto;
  max-height: 5em;
  margin-bottom: 10em;
}

.answerText {
  font-size: 6em;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  color: whitesmoke;
  background-color: maroon;
  position: absolute;
  text-align: center;
  top: 500%;
  left: 500%;
  transform: translate(-50%, -50%);
}

.homeImage {
  align-self: center;
  align-items: center;
  object-fit: cover;
  position: absolute;
  min-width: 100% !important;
}
.homeTitle {
  color: whitesmoke;
  position: absolute;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: maroon;
  font-size: 10em;
  border-top: 1%;
  border-bottom: 1%;
  border-right: 1%;
  border-left: 1%;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.title {
  text-align: center;
  color: whitesmoke;
  font-size: 10em;
  font-family: fantasy;
  background-color: maroon;
}
.question {
  text-align: center;
  font-size: 8em;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}
.divider {
  color: black;
  font-size: 1.4em;
  background-color: black;
}

/*
 * Globals
 */

/* Links */
a,
a:focus,
a:hover {
  color: #fff;
}

/* Custom default button */
.btn-default,
.btn-default:hover,
.btn-default:focus {
  color: #333;
  text-shadow: none; /* Prevent inheritence from `body` */
  background-color: #fff;
  border: 1px solid #fff;
}

/*
 * Base structure
 */

html,
body {
  height: 100%;
  background-color: #fff;
}
body {
  color: #fff;
  text-align: center;
  text-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
}

/* Extra markup and styles for table-esque vertical and horizontal centering */
.site-wrapper {
  display: table;
  width: 100%;
  height: 600px;
  background-color: #333;
  /*height: 100%; */
  /*min-height: 100%;*/
}
.site-wrapper-inner {
  display: table-cell;
  vertical-align: top;
}
.cover-container {
  margin-right: auto;
  margin-left: auto;
}

/* Padding for spacing */
.inner {
  padding: 30px;
}

/*
 * Header
 */
.masthead-brand {
  margin-top: 10px;
  margin-bottom: 10px;
}

.masthead-nav > li {
  display: inline-block;
}
.masthead-nav > li + li {
  margin-left: 20px;
}
.masthead-nav > li > a {
  padding-right: 0;
  padding-left: 0;
  font-size: 16px;
  font-weight: bold;
  color: #fff; /* IE8 proofing */
  color: rgba(255, 255, 255, 0.75);
  border-bottom: 2px solid transparent;
}
.masthead-nav > li > a:hover,
.masthead-nav > li > a:focus {
  background-color: transparent;
  border-bottom-color: #a9a9a9;
  border-bottom-color: rgba(255, 255, 255, 0.25);
}
.masthead-nav > .active > a,
.masthead-nav > .active > a:hover,
.masthead-nav > .active > a:focus {
  color: #fff;
  border-bottom-color: #fff;
}

@media (min-width: 768px) {
  .masthead-brand {
    float: left;
  }
  .masthead-nav {
    float: right;
  }
}

/*
 * Cover
 */

.cover {
  padding: 0 20px;
}
.cover .btn-lg {
  padding: 10px 20px;
  font-weight: bold;
}

/*
 * Affix and center
 */

@media (min-width: 768px) {
  /* Pull out the header and footer */
  .masthead {
    position: fixed;
    top: 0;
  }
  /* Start the vertical centering */
  .site-wrapper-inner {
    vertical-align: middle;
  }
}
